.body {
    color: black;
    font-family: "Lato", sans-serif;
    max-width: 1000px;
    line-height: 1.6;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
}

.container {
    background-color: rgb(192, 185, 185);
    overflow-x: auto;
}

.header {
  color: #8d3030;
}

.grey {
    background: linear-gradient(25deg, rgba(255, 255, 255, 0.733), darkgrey);
}

.hidden {
    display: none;
}